<!doctype html>
{{version:2.2}}
{{base:http://localhost/simple_blog/template/}}
<html lang="en">
<head>
  <base href="{{base}}">
  <link rel="stylesheet" href="css/style.css">
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>
  <header>
    <nav>{{piece:navigation.html}}</nav>
  </header>
  <nav class="articles">
    {{piece:articles.html}}
  </nav>
  <div class="content">
    {{content}}
  </div>
  <footer>
    <div class="inner">
      <span>dam1r89 simple blog</span>
      <span class="right">Simple blog generator version: {{version}}</span>
    </div>

  </footer>
</body>
</html>
