<!doctype html>
{{version:2.2}}
{{base:http://localhost/simple_blog/public/}}
<html lang="en">
<head>
  <base href="{{base}}">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>
  <header>
    <nav>{{piece:navigation.html}}</nav>
  </header>
  <div class="content">
    <article>
      {{content}}
    </article>
    <aside>
      <nav>{{piece:articles.html}}</nav>
    </aside>
  </div>
  <footer>
    <div class="inner">
      <span>dam1r89 simple blog</span>
      <span class="right">Simple blog generator version: {{version}}</span>
    </div>

  </footer>
</body>
</html>
